@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#top {

    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100vw;
    height: 70px;

    background-color: #9fe6a0;
    border-bottom: 2px solid rgb(0, 168, 89);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#user-Info {
    width: 200px;
    height: 70px;
    display: flex;
}

#userLog {
    width: 100px;
    height: 60px;
    margin-top: 15px;
    margin-left: auto;
}

#userLog p{
    font-size:11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*color:rgb(87, 87, 87);*/
    color: black;
}
#userLog span{
    font-size:11px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    /*color:rgb(87, 87, 87);*/
    color: black;
}
#userImg {

    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px 15px 0 0;
}

#userImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

#button-header-cadastrar {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #88cf89;

    border-radius: 15px;
    margin-left: auto;
    margin-top: 20px;
    
}
#button-header-cadastrar a{
    text-decoration: none;
    color: black;
}

#button-logout {
    border: none;
    background: none;
}
#button-logout:hover{
    cursor: pointer;
}

@media (max-width:400px) {
    #top{
        width: 100vw;
    }

    #user-Info{
        overflow: hidden;
    }

    #userLog{
        overflow: hidden;
    }
    #search-p{
        overflow: hidden;
    }
    #userImg {
        overflow: hidden;
    }
    #userImg img{
        overflow: hidden;
    }

}